body  {
    background-image: url('https://images.pexels.com/photos/1254736/pexels-photo-1254736.jpeg');
  background-size:cover;
        -webkit-animation: slidein 50s;
        animation: slidein 50s;

        -webkit-animation-fill-mode: forwards;
        animation-fill-mode: forwards;

        -webkit-animation-iteration-count: infinite;
        animation-iteration-count: infinite;

        -webkit-animation-direction: alternate;
        animation-direction: alternate;        
    font-family: 'Courier New', Courier, monospace; 
    display: flex;
    flex-direction: column; 
    justify-content: center;
    align-items: center; 
    min-height: 90vh; 
}

@-webkit-keyframes slidein {
from {background-position: top; background-size:4000px; }
to {background-position: -30px 0px;background-size:2750px;}
}

@keyframes slidein {
from {background-position: top;background-size:3000px; }
to {background-position: -30px 0px;background-size:2750px;}

}

.card{
    margin: 10px 10px 10px 10px;
    background-color: #FAEACB;
    height: 400px;
    width: 300px;
    border-radius: 15px;
    border-style: hidden;
}

.weatherCards{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    text-align: center;
}

.weatherCards img{
    display: flex;
    justify-content: center;
}

.temperature-container{
    display:flex;
    justify-content: center;
    font-size: 20px;
}

.temperature{
    padding: 0px 10px 0px 10px;
}

.cityElement{
    height: 10vh;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 60px;
    font-weight: 20;
}

.dayName{
    font-size: 30px;
}

.weatherLabel{
    display: flex;
    padding-top: 0px;
    padding-left: 30%;
    width: 120px;
    height: 120px;
}

